beautifulsoup4
google
gTTS
gTTS-token
lxml
online-judge-api-client
online-judge-template-generator
online-judge-tools
pickle-mixin
playsound
ply
plyer
psutil
PyAudio
pyfiglet
pyttsx3
rapidfuzz
requests
SpeechRecognition
tcgen
termcolor
tqdm
wget
wikipedia
wolframalpha